<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn btn-primary" %> |
  <%= link_to "Back to movies", movies_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
